# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Production Build
dist/
dist-ssr/

# Python & Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
.venv/
venv/
ENV/
env/
*.sqlite3

# IDE & OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
